<div class="container-narrow">
	<div class="jumbotron">
		<h1>Archive</h1>
		<p class="lead">Events and stories in the Life of Trash</p>
	</div>
	<hr>
</div>
<div class="container marketing">


	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/post5/result.png">
		<h2 class="featurette-heading"> Successful<br>
			<span class="muted">first launch...</span>
		</h2>
		<p class="lead">After months of preparation and testing, the first phone was successfully deployed into the trash.  Tracking its location was a huge success and the results are very provocative...<br> <a class="btn btn-primary" href="/post5"> Read more  »</a></p>

	</div>
	<hr class="featurette-divider">


	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/post/freshtrash-01.png">
		<h2 class="featurette-heading"> In a landfill<br>
			<span class="muted">far far away...</span>
		</h2>
		<p class="lead">In a world with advanced technology to learn about the far corners of the universe, what do we really know about the waste that we create daily?  Where does it go? <a class="btn btn-primary" href="/post4"> Read more  »</a></p>

	</div>
	<hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/smsMessages-01.png">
		<h2 class="featurette-heading">Testing.
			<span class="muted">Successes and failures</span>
		</h2>
		<p class="lead">Developing and testing anything can be a fun and tedious experience, and sometimes expensive.<br><a class="btn btn-primary" href="/success"> Read more	 »</i></a></p>

	</div>

</div>
