<div class="container-narrow">
	<div class="jumbotron">
		<h1>Stories of Trash </h1>
		<p class="lead">Do you know where has your trash been?  By joining the Life of Trash community, collectively we can better understand the flow of trash throughout the country.</p>
	</div>
	<hr>
</div>
<div class="container marketing">

	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/FreshKills/blogPic.jpg">
		<h2 class="featurette-heading"> Fresh Kills<br>
			<span class="muted">from above...</span>
		</h2>
		<p class="lead">A visit to one of the most infamous landfills in the country for aerial photography experiments.<br> <a class="btn btn-primary" href="/post8"> Read more  »</a></p>

	</div>
<!--
	<hr class="featurette-divider">

	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/ActionVisit/blogPic.png">
		<h2 class="featurette-heading"> Action<br>
			<span class="muted">visit the facility...</span>
		</h2>
		<p class="lead">We get to view a real life sorting facility, not to mention the most advanced in the country!<br> <a class="btn btn-primary" href="/post7"> Read more  »</a></p>

	</div>
-->
	<hr class="featurette-divider">



	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/post5/result.png">
		<h2 class="featurette-heading"> Successful<br>
			<span class="muted">first launch...</span>
		</h2>
		<p class="lead">After months of preparation and testing, the first phone was successfully deployed into the trash.  Tracking its location was a huge success and the results are very provocative...<br> <a class="btn btn-primary" href="/post5"> Read more  »</a></p>

	</div>
	<hr class="featurette-divider">


	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/post/freshtrash-01.png">
		<h2 class="featurette-heading"> In a landfill<br>
			<span class="muted">far far away...</span>
		</h2>
		<p class="lead">In a world with advanced technology to learn about the far corners of the universe, what do we really know about the waste that we create daily?  Where does it go? <a class="btn btn-primary" href="/post4"> Read more  »</a></p>

	</div>
	<hr class="featurette-divider">
	
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/smsMessages-01.png">
		<h2 class="featurette-heading">Testing.
			<span class="muted">Successes and failures</span>
		</h2>
		<p class="lead">Developing and testing anything can be a fun and tedious experience, and sometimes expensive.<br><a class="btn btn-primary" href="/success"> Read more	 »</i></a></p>

	</div>
<!--
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/newlocations-01.png">
		<h2 class="featurette-heading"> New locations received.
			<span class="muted">12/5/12</span>
		</h2>
		<p class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.<a class="btn btn-primary" href="/post2"> Read more...</a></p>

	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/grouporg-01.png">
		<h2 class="featurette-heading"> Communities take action.
			<span class="muted">Inaugural launch day</span>
		</h2>
		<p class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.sdfsd<br><a class="btn btn-primary" href="/post3"> Read more...</a></p>

	</div>
	
-->
</div>
