<div class="container-narrow">
	<div class="jumbotron">
		<h1>Engage in reducing trash! </h1>
<!-- 		<p class="lead">Do you know where has your trash been?  Joining the Life of Trash community and collectively we can better understand the flow of trash through our communities</p> -->
		<p class="lead">The Life of Trash project is dedicated to help citizens and communities to better understand the invisible waste structure in which we live.</p><p class="lead"> Please contact Nicholas Johnson at <a>nejohnson2@gmail.com</a></p>
	</div>
	<hr>
	
	<div class="media">
		<a class="pull-left" href="http://landfills.herokuapp.com">
			<img class="media-object" src="/img/landfill3.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://landfills.herokuapp.com">A Landfill Near You</a></h4>
				<!-- Nested media object -->
				<div class="media">
				  Our country is populated with sanitary landfills, but where are they?  By using the Environmental Protection Agency's MSW permit database, this map plots all of the landfills in the country starting with the ones closest to you.    
				</div>
				
		</div>	
	<br>		
	</div>
	
	
	<div class="media">
		<a class="pull-left" href="http://www.publiclab.org">
			<img class="media-object" src="/img/boots2.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://www.publiclab.org">Public Lab</a></h4>
				<!-- Nested media object -->
				<div class="media">
				  The Public Laboratory for Open Technology and Science (Public Lab) is a community which develops and applies open-source tools to environmental exploration and investigation. By democratizing inexpensive and accessible Do-It-Yourself techniques, Public Lab creates a collaborative network of practitioners who actively re-imagine the human relationship with the environment.    
				</div>
				
		</div>	
	<br>		
	</div>
	
	<div class="media">
		<a class="pull-left" href="http://www.nyc.gov/html/dsny/html/home/home.shtml">
			<img class="media-object" src="/img/dslogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://www.nyc.gov/html/dsny/html/home/home.shtml">NYC Department of Sanitation</a></h4>
				<!-- Nested media object -->
				<div class="media">
				  The New York City Department of Sanitation contains large amounts of information about how to properly dispose of waste.  Navigating through these resources is the first step to better understand the trash system in New York City and how to actively participate in that system.    
				</div>
				
		</div>	
	<br>		
	</div>
	
	
	
	<div class="media">
		<a class="pull-left" href="http://gis.nyc.gov/gisapp/sn/sanitation.jsp">
			<img class="media-object" src="/img/nycgovlogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://gis.nyc.gov/gisapp/sn/sanitation.jsp">Trash Collection Schedule</a></h4>
				<!-- Nested media object -->
				<div class="media">
				  The New York City Department of Sanitation and NYC.gov have created a simply way for residents to view their trash collection and recycling schedule.  Simply enter your building number, street name and borough to get your trash collection schedule.  
				</div>
				
		</div>			
	</div>
	<br>
	
	
	
	
	<div class="media">
		<a class="pull-left" href="http://www.nyc.gov/html/planyc2030/html/home/home.shtml">
			<img class="media-object" src="/img/plannyclogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://www.nyc.gov/html/planyc2030/html/home/home.shtml">Plan NYC</a></h4>
				<!-- Nested media object -->
				<div class="media">
				   Released in 2007, PlaNYC was an unprecedented effort undertaken by Mayor Bloomberg to prepare the city for one million more residents, strengthen our economy, combat climate change, and enhance the quality of life for all New Yorkers. The Plan brought together over 25 City agencies to work toward the vision of a greener, greater New York. Since then, we have made significant progress towards our long-term goals. 			
				</div>
		</div>			
	</div>		
	<br>
	
	
	
	<div class="media">
		<a class="pull-left" href="http://www.nycgovparks.org/park-features/freshkills-park">
			<img class="media-object" src="/img/parkslogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://www.nycgovparks.org/park-features/freshkills-park">The Story of Fresh Kills</a></h4>
				<!-- Nested media object -->
				<div class="media">
				 For over 50 years, Fresh Kills Landfill was the primary landfill for the city of New York and grew to be over three times the size of Central Park.  In 2009 the landfill was closed and is now the site of a mulit-phase 30 year plan to transform the site into a public park.    			
				</div>
				
		</div>			
	</div>
	<br>

	<div class="media">
		<a class="pull-left" href="http://senseable.mit.edu/trashtrack/">
			<img class="media-object" src="/img/mitlogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://senseable.mit.edu/trashtrack/">Trash | Track</a></h4>
				<!-- Nested media object -->
				<div class="media">
				 Elaborated by the SENSEable City Lab and inspired by the NYC Green Initiative, TrashTrack focuses on how pervasive technologies can expose the challenges of waste management and sustainability. Can these same pervasive technologies make 100% recycling a reality?			
				</div>
				
		</div>			
	</div>
	<br>	
<!--
	<div class="media">
		<a class="pull-left" href="http://senseable.mit.edu/trashtrack/">
			<img class="media-object" src="/img/gonetomorrow.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://senseable.mit.edu/trashtrack/">Gone Tomorrow</a></h4>
			
				<div class="media">
				 Elaborated by the SENSEable City Lab and inspired by the NYC Green Initiative, TrashTrack focuses on how pervasive technologies can expose the challenges of waste management and sustainability. Can these same pervasive technologies make 100% recycling a reality?			
				</div>
				
		</div>			
	</div>
	<br>
-->			

</div>