
<div class="row">
	<div class="span4"><hr /></div>
		<div class="span4">
		<span class="small-title">choose your</span><br />
                    <span class="large-title">BREED</span>
                </div>
	<div class="span4"><hr /></div>
</div>

<div class="row" id="icon">
	<div class="trashIcon">
		<a href="/about">
			<img src="/img/trashIcon.png">
		</a>
	</div>
</div>























<!--
<ul class="thumbnails">
  <li class="span4">
      <h2>Track Your Trash</h2>
      <p>How is trash collected in New York?  Where does it go?  The project will focus on addressing and understanding the problems facing trash collection around New York city by investigating pickup methods, transportation process and waste management procedures.  Some potential ideas are to place tracking sensors in trash and follow their progression...</p>

    
  </li>
    <li class="span4">
      <h2>NYC Trash Data</h2>
      <p>How is trash collected in New York?  Where does it go?  The project will focus on addressing and understanding the problems facing trash collection around New York city by investigating pickup methods, transportation process and waste management procedures.  Some potential ideas are to place tracking sensors in trash and follow their ...</p>

    
  </li>
    <li class="span4">
      <h2>Share Experience</h2>
      <p>How is trash collected in New York?  Where does it go?  The project will focus on addressing and understanding the problems facing trash collection around New York city by investigating pickup methods, transportation process and waste management procedures.  Some potential ideas are to place tracking sensors in trash and follow their progression...</p>
    
    
  </li>

</ul>
-->