
<div class="container-narrow">


	<div class="jumbotron">
		<h1>Life of Trash </h1>
		<p class="lead">With just three simple steps, you can begin to track your trash and better understand where its life ends.</p>
		<!-- <a class="btn btn-large btn-primary" href="/LifeofTrash.apk"> Download Life of Trash</a> -->
	</div>
	<hr>
	
<!--
	<div class="jumbotron">
		<img src="/img/backdeop.png">
	</div>

-->

</div>

<!--
	<div class="row">
		<div class="span4">
			<img class="img-circle" src="/img/appheading.png">
			<h2> Download App. </h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
		</div>
		<div class="span4">
			<img class="img-circle" src="/img/trashheading.png">
			<h2> Throw Away. </h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
		</div>
		<div class="span4">
			<img class="img-circle" src="/img/trackheading.png">
			<h2> Track. </h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
		</div>				
	</div>
-->

<div class="container marketing">		
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/appheading.png">
		<h2 class="featurette-heading">1. Download App.
			<span class="muted"> Coming Soon...</span>
		</h2>
		<p class="lead">By downloading and installing the Life of Trash app, users can successfully watch online as their trash moves through the country.  The app is currently available on the Android App Store and a similar version will soon be available via the Apple App Store. </p>

	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/trashheading.png">
		<h2 class="featurette-heading">2. Throw phone away.
			<span class="muted"> </span>
		</h2>
		<p class="lead">After successfully downloading the Life of Trash app, simply launch the app and place the phone in the trash or recycling prior to pickup.  Be sure to charge the phone fully and place the phone in a plastic bag to protect against any liquids which might damage the phone.</p>

	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/trackheading.png">
		<h2 class="featurette-heading">3 Track online.
			<span class="muted">Coming soon...</span>
		</h2>
		<p class="lead">Once the phone has been placed in the trash, visit <a href="/map">Life of Trash</a> website to begin tracking where your trash is traveling.</p>

	</div>
</div>
