<div class="container-narrow">


	<div class="jumbotron">
		<h1>Life of Trash </h1>
		<p class="lead">With just three simple steps, you can begin to trash your trash and better understand where its life ends.</p>
	</div>
	<hr>
	
<!--
	<div class="jumbotron">
		<img src="/img/backdeop.png">
	</div>

-->

</div>
<div class="container marketing">
<!--
	<div class="row">
		<div class="span4">
			<img class="img-circle" src="/img/appheading.png">
			<h2> Download App. </h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
		</div>
		<div class="span4">
			<img class="img-circle" src="/img/trashheading.png">
			<h2> Throw Away. </h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
		</div>
		<div class="span4">
			<img class="img-circle" src="/img/trackheading.png">
			<h2> Track. </h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
		</div>				
	</div>
-->

		
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/appheading.png">
		<h2 class="featurette-heading">1. Download App.
			<span class="muted"> Coming soon...</span>
		</h2>
		<p class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/trashheading.png">
		<h2 class="featurette-heading">2. Throw phone away.
			<span class="muted"> </span>
		</h2>
		<p class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

	</div>
	<hr class="featurette-divider">
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/trackheading.png">
		<h2 class="featurette-heading">3 Track online.
			<span class="muted">Coming soon...</span>
		</h2>
		<p class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

	</div>
	
</div>
