<div class="container-marketing">
	<div class="jumbotron">
		<h1>Trash Lab</h1>
		<p class="lead">The <em>Life of Trash</em> has the potential to be a laboratory for citizens to investigate the urban waste stream and partner with local governments to collectively improve the current waste system and create a more sustainable system for the future.<a href="/lab-info"> Read more  »</a></p>
	</div>
	<hr>
</div>

<div class="container marketing">  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <img class="img-circle" src="http://farm9.staticflickr.com/8049/8120132017_dc59d5514f_q.jpg" width="150" height="150" alt="IMG_0808">
      <h2>Research Projects</h2>
      <p>Developing the community around Life of Trash has been tremendous.  Supporting and further developing projects related to trash will continue to grow this community leading to greater validation of data from the city and industry</p>
      <p><a class="btn" href="/citizen_research">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" src="http://farm9.staticflickr.com/8195/8120192507_ba4034c254_q.jpg" width="150" height="150" alt="IMG_0908">
      <h2>Trash Tracking </h2>
      <p>Tracking trash has the potential to help inform not only the general public but also city governments and businesses about the waste stream and can help identify problems and solutions.</p>
      <p><a class="btn" href="/tracking_research">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" src="http://farm3.staticflickr.com/2871/9301777046_155e16b80a_q.jpg" width="150" height="150" alt="AVC Waste System">
      <h2>Education</h2>
      <p>Any step towards improving our waste footprint will require education. Education rests in many forms and the Trash Lab intends on exploring each one of these.</p>
      <p><a class="btn" href="/education">View details &raquo;</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->
</div>

<script src="/js/holder.js"></script>
<br>
<br>
<br>