<html>
    <head>
        <title>
        <% if (typeof pageTitle != "undefined") { %>
           <%= pageTitle %>
        <% } else { %>
            Recycle Blog
        <% } %>
        </title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    </head>

    <body>

        <div class="container">


            <div class="header">
                <% if (typeof pageTitle != "undefined") { %>
                   <a href="/"><h1><%= pageTitle %></h1></a>
                <% } %>
            </div>
            <!-- <form action="https://api.twilio.com/2010-04-01/Accounts/ACad716cc4da934be6ad19bf5353312248/SMS/Messages.json", method="POST"> -->
            <form action="/incoming" method="post">
			    <legend>Legend</legend>
			    <label>Label name</label>
			    <input type="text" name="body" placeholder="Type something…">
			    <button type="submit" class="btn">Submit</button>

			</form>            	


        </div>


        <!-- JavaScript at the bottom for fast page loading -->
        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	    <script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="js/bootstrap.min.js"></script>
    </body>
    
</html>