<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
        <% if (typeof pageTitle != "undefined") { %>
           <%= pageTitle %>
        <% } else { %>
            NYC Trash Blog
        <% } %>
        </title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="container">

			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="/">Home</a>
			    <ul class="nav">
			      <li class="active"><a href="/info">Info</a></li>
			      <li><a href="/experience">Experience</a></li>
			      <li><a href="/about">About</a></li>
			    </ul>
			  </div>
			</div>  
			  
			<div class="hero-unit">
			  <h1>NYC Trash Blog</h1>
			  <p>Where does your trash go?</p>
			  <p>
			    <a href="/new-project" class="btn btn-primary btn-large">
			      Share Experience
			    </a>
			  </p>
			</div>
  
			            	
		    <div class="content">
               <%- body %>
     	  	</div>

        </div>


        <!-- JavaScript at the bottom for fast page loading -->
        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	    <script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </body>
    
</html>