<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Home</a>
    <ul class="nav">
      <li class="active"><a href="/info">Info</a></li>
      <li><a href="/experience">Experience</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>  
  
<div class="hero-unit">
  <h1>NYC Trash Blog</h1>
  <p>Where does your trash go?</p>
  <p>
    <a href="/new-project" class="btn btn-primary btn-large">
      Share Experience
    </a>
  </p>
</div> 


<div class="row">
	<div class="span4"><hr /></div>
		<div class="span4">
		<span class="small-title">choose your</span><br />
                    <span class="large-title">BREED</span>
                </div>
	<div class="span4"><hr /></div>
</div>

<div class="row" id="doglist">
         	<% for(i=0; i<thumbImages.length; i++) { %>
                    <div class="dogicon" id="<%= dogs[i] %>">
                    	<a href="<%= dogurl[i] %>">
                    	<img src="/img/<%= thumbImages[i] %>" alt="<%= thumbImages[i] %>"><br />
                    	<span><%= dogs[i] %></span>
                    	</a>
                    </div>
            <% } %>
</div>

<hr />