<div class="container-narrow" style="text-align: left;">
<br>

	<h1 style="text-align: center;">New York + Trash = ?<p class="muted"><small> Dec 13, 2012</small></p></h1>	
			<p class="lead" style="text-align:left; text-indent: 50px;"> As many newcomers to New York City have noticed, this city is not shy about its trash.  Each day enormous piles of trash are left roadside for processing.  These piles are so common that most people pass them in the street daily without a thought.</p>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/ladiestrash.png"> 		<br>	
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> Bothered by this observation in the city, I began an investigation into how trash is created, discarded and processed.  This research has been titled, “Life of Trash”.</p>

<p class="lead" style="text-align:left; text-indent: 50px;"> As I began researching how New York handles its trash, I began to find more and more questions rather than any answers.   While a vast amount of questions like, where does trash come from, who handles trash and who is responsible, began to occupy my mind, there was one question that I couldn't answer and couldn't get out of my head; where does trash go?</p>	

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/freshtrash-01.png"> 		<br>	

	<hr>
	<h1>Initial Research</h1>

	<p class="lead" style="text-align:left; text-indent: 50px;"> Very quickly my initial research lead me to discover Fresh Kills located in Staten Island.  Fresh Kills was once a landfill that housed all of New York City’s trash for over 50 years.  The landfill was three times the size of central park and in 2009 was decommissioned by the city.  The landfill is now being converted into a public park in a 30 year multi-phase restoration project.</p>


	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/freshkillsmap.png"> <br>
    
	<p class="lead" style="text-align:left; text-indent: 50px;"> After looking into Fresh Kills, the question of where does our trash go continued to burn in my mind.  By finding Fresh Kills, I had discovered the ‘theoretical destination‘ of where trash goes, but there was no quantitative evidence to show the flow of trash from one point to another.  I then decided to look more specifically into the methods of trash collection and recycling from NYU.
</p>


	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/freshpark-01.png"> <br>
    
   	<hr>
	<h1>More Specific Questions</h1>	
	<p class="lead" style="text-align:left; text-indent: 50px;"> The starting point for this research was the trash cans located on the floor of ITP (Interactive Telecommunications Program).  Observing the trash cans on the 4th floor proved to be a very interesting discovery.  There are actually four types of trash cans placed throughout the floor designed to handle four different types of trash.  Each trash however is completely different and there is no continuity amounts how one should dispose of their waste. </p>

   	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/itpGreen.png">   	<br>	

<p class="lead" style="text-align:left; text-indent: 50px;"> Furthermore, upon observing the collection of trash in these cans, all waste seems to travel into the same destination.  Here presented another question; do the people collecting trash collect correctly? </p>
	
<p class="lead" style="text-align:left; text-indent: 50px;">NYU has a well maintained website with a plenty of information about how and where to dispose of recycling and landfill destined trash.  This website also served as a source of information as to the next step in where the trash from ITP travels.  NYU is open about who it partners with to handle waste and recycling and one partner I found which handles e-waste was a company call GreenDisk.</p>

	    		
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/nyuGreen.png"><br>

	<p class="lead" style="text-align:left; text-indent: 50px;">After NYU gathers its e-waste from the campus, it is then collected by the company GreenDisk with whom I was able to contact to further investigate how they handle e-waste from NYU.  On their webpage, GreenDisk states clearly that they sort and recycle.  There are papers on why they are a trusted source for recycling and why their methods are superior to others.  These methods however, were left unexplained.  Upon talking with the group, it was made clear that GreenDisk sorts and recycles e-waste and partners with various NGO’s and non-profits to further process the recycling.  So my next question? Who are these NGO’s and non-profits?
 </p>
	
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/greenDisk-01.png"> <br>

<p class="lead" style="text-align:left; text-indent: 50px;"> GreenDisk was not willing to offer specific names as to who these groups.  After lengthy conversations with GreenDisk, the name of a non-profit was finally divulged.  Alternative Community Training is a non-profit based out of Missouri that employs only disabled workers and participates in recycling by erasing data on tapes, CDs and hard drives.  </p>
	
<p class="lead" style="text-align:left; text-indent: 50px;"> After following the path of e-waste from ITP, speaking with ACT was the furthest I was able to understand the flow of trash from ITP.  ACT was not able or willing to offer any more information about what they do after erasing data nor was GreenDisk willing to provide their other recycling partners.  After all of this communication and research, I was still no closer to understanding concretely how trash moves.</p>
    	
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/actImage.png"><br>

   	<hr>
	<h1>Inspiration</h1>

<p class="lead" style="text-align:left; text-indent: 50px;">It was after this extensive research that I found a group at the MIT SENSEable City Lab who had also engaged in a similar type of project.  Their project, titled Trash | Track, used cell network based tracking devices to send back the coordinates of trash as it moves.  Their focus was to understand how effective recycling is while taking into account the amount of energy it takes to transport recycling throughout the country.</p>

<p class="lead" style="text-align:left; text-indent: 50px;">The Trash | Track method was highly successful and produced an amazing quantitative understanding of trash flow throughout cities and the country.  The project had several partners and support which allowed the project to have access to durable tracking devices from Qualcomm as well as the ability to access cell network information to collect location data.
</p>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/mitDiagram.png">	
    
<p class="lead" style="text-align:left; text-indent: 50px;">This project was tremendously successful but was also very far removed from citizen participation.  The amount of funding, man power and technology that went into making the project a success was something inaccessible to the general population.  So a new question arrived.  How can we make this process something accessible to people who wish to take an active in understanding the trash system in the United States?
</p>    

   	<hr>
	<h1>Conclusions</h1>
        
	<p class="lead" style="text-align:left; text-indent: 50px;">Thus the project “Life of Trash” was born.  Life of Trash allows everyday citizens to use technology that they already have access to in order to actively participate in bringing about a better understanding of systems which have been unquantifiable.  As people begin to engage in tracking the life of their trash, the data collected can greatly improve not only our understanding of the trash system but also how the system itself functions. 
 </p>
	
	<hr>
	
</div>