<div class="container-narrow" style="text-align: left;">
<br>

	<h1 style="text-align: center;">New York + Trash = ?</h1>	
			<p class="lead" style="text-align:left; text-indent: 50px;"> As many newcomers to New York City have noticed, this city is not shy about its trash.  Each day enormous piles of trash are left roadside for processing.  The piles are so common that people pass them in the street without a thought.</p>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/ladiestrash.png"> 		<br>	
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/freshtrash-01.png"> 		<br>	

	<hr>
	<h1>Initial Research</h1>

	<p class="lead" style="text-align:left; text-indent: 50px;"> After dwelling on these question, I began to search the web for answers to my questions.  It wasn't long before I discovered the landfill "Fresh Kills" which was an astonishing discovery.</p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>	

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/freshkillsmap.png"> <br>
    
	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/freshpark.png"> <br>
    
   	<hr>
	<h1>More Specific Questions</h1>	
	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>    	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/itpGreen.png">   	<br>	

<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>
	

	    		
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/nyuGreen.png"><br>

	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>
	
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/greenDisk-01.png"> <br>

<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>
	

    	
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/actImage.png"><br>

   	<hr>
	<h1>Inspiration</h1>

<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/mitDiagram.png">	

   	<hr>
	<h1>Conclusions</h1>
        
	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,  Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, </p>
	<hr>
	
</div>