<div class="container-narrow" style="text-align: left;">
<br>

	<h1 style="text-align: center;">Fresh Kills Aerial View<p class="muted"><small> April 25, 2013</small></p>	</h1>
			<p class="lead" style="text-align:left; text-indent: 50px;"> After months of reading about one of the most infamous landfills in the country, the time finally came to experience this urban wasteland up close and in person.  The objective of the expedition was to use experimental balloon photography and document from above what few people have ever seen.</p>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1463.jpg"> 		<br>	

<p class="lead" style="text-align:left; text-indent: 50px;"> Fresh Kills was conceived as a landfill in 1948 and meant to be only a temporary solution for waste disposal.  Instead, for over fifty years Fresh Kills was the destination of all of New York City’s waste until in 2001 when the landfill was declared closed and the capping process began, giving Fresh Kills an entirely new life.  For the next 30 years, Fresh Kills Landfill will be converted into a public park and what was once a vast landscape of trash will become a treeless prairie in which visitors will be able to enjoy long hikes and rare birdwatching.</p>	

<p class="lead" style="text-align:left; text-indent: 50px;"> Currently, the area is not open to the public and in order to gain access, one must schedule a date and time with the New York City Parks Department and be accompanied throughout the duration of the visit.  In order to do balloon photography, special permission was sought from not only the Parks Department but also from the New York City Department of Sanitation and the Federal Aviation Administration.  (Fresh Kills lies within 50 miles of Newark Airport and flying anything in the area needed FAA approval)  Needless to say, this expedition was an experience before even setting foot on the property.
</p>


	<hr>
	<h1>Strange Landscape</h1>

	<p class="lead" style="text-align:left; text-indent: 50px;"> Our small group departed early in the morning from Battery Park riding in a Parks vehicle for the 45min trip and upon arrival at the landfill we were met with an impressive view of the north mound.  Passing through the Department of Sanitation checkpoint and into the park, it was easy to be overwhelmed at the sheer size of the area.  The park is comprised of seven different mounds which in total are three times the size of Central Park creating an incredibly unique landscape unrivaled anywhere on the east coast and visible from space.  We had the opportunity to visit only the north and east mound as the others are still being capped.  </p>
	
		<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1431.jpg"> 		<br>	

	<p class="lead" style="text-align:left; text-indent: 50px;"> Each mound is unique in shape and size but there are a few details that tie the site together.  The first is the appearance of pipes which extrude from the ground.  These pipes litter the entire area and are a result of the methane which is produced by the decomposing waste.  This methane is collected by the pipes throughout the park and used to generate energy in the area.  Along with these methane release pipes are several larger facilities which burn off a percentage of the methane for safety reasons.</p>
	
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1442.jpg"> <br>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1444.jpg"> <br>

    <br>
    
	<p class="lead" style="text-align:left; text-indent: 50px;"> 	The second unique characteristic of the area is the lack of trees which is a result of the capping process.  In order to secure the waste, several layers of soil are placed on top as well as tarp which is designed to keep any toxic materials from seeping out of the mound.  The tarp is then covered with several more layers of soil and a top layer of vegetation to prevent erosion.  If trees were permitted to grow on the mound, it is possible that over time the roots would damage or ruin the tarp.</p>	    

	<br>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1616.jpg"> <br>

    
   	<hr>
	<h1>The Equipment</h1>	
	<p class="lead" style="text-align:left; text-indent: 50px;"> After an overview of the park and a view of the New York skyline in the distance, we traveled to the top of the north mound to begin our aerial photography experiments.  We prepared for the day by bringing two 5.5ft balloons, two 50cf helium tanks, 1000ft 200lbs string, a delta wing kite and a Canon camera with a special programmed SD card designed to take a photo every 3 seconds. </p>

   	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1684.jpg">   	<br>	

<p class="lead" style="text-align:left; text-indent: 50px;"> A good pair of gloves are essential.  Another important piece of equipment is the highly sophisticated camera protector which is made from a juice bottle.  The camera protect at first seems to be unnecessary but when in the field is one of the more important parts after a crash landing.</p>
	

	    		
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1703.jpg"><br>

<p class="lead" style="text-align:left; text-indent: 50px;"> Not only does this container serve as a crash protector but also as a harness to secure the camera to the kite string.  Rubber bands were used to mount the camera inside the container and a caribinor was used to attach the harness to the string of the kite. </p>
 
 	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1705.jpg"><br>

	
	<hr>
	<h1>Launching the Kite</h1>
        
	<p class="lead" style="text-align:left; text-indent: 50px;"> Though the day was beautiful and the sun was shinning, high winds forced us to abandon the balloons and use the kite.  The kite was quick to take off and traveled to approximately 400ft in the air while we were careful to stay below the FAA regulation of 500ft.  After 30mins of flying we began to bring in the kite to see what kind of data we had collected.

 </p>
 	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/photo_3.jpg"><br>

 	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/photo_1.jpg"><br>
	
	<hr>	
	<h1>View from Above</h1>
        
	<p class="lead" style="text-align:left; text-indent: 50px;"> Unfortunately, due to the high winds, the majority of the images were out of focus or blurry.  We repeated our experiment twice on the north mound and once on the east mound with the same results.  Though the images were out of focus and blurry, there was evidence that this type of research could be very beneficial and on a less windy day could reveal amazing imagery. <br>
	
 </p>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_3397.jpg"><br>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_3534.jpg"><br>	
	<hr>
	<p class="lead" style="text-align:left; text-indent; 50px;">Ultimately the trip to Fresh Kills was an amazing experience and one that should be experienced by all.   Seeing this vast landscape in person puts into perspective the amount of waste a city produces and makes one wonder what will the area be like in 30 years. </p>
	<p><a class="btn btn-primary" href="/post8"> Back to top  »</a></p>
	
</div>