<div class="container-narrow" style="text-align: left;">
<br>

	<h1 style="text-align: center;">Action Carting Visit<p class="muted"><small> April 10, 2013</small></p>	</h1>

	<p class="lead" style="text-align:left; text-indent: 50px;"> In my never-end quest to understand the world of trash, I decided to uncover exactly what happens to the waste at New York University.  After several weeks of pestering the NYU Sustainability Office without any good answers, it was finally discovered that Action Environmental Service was responsible for collecting NYU's waste and recycling.</p>
	<br>
	
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/ActionVisit/avisit1_a.jpg"> 		<br>	
	

<p class="lead" style="text-align:left; text-indent: 50px;"> With great joy and enthusiasm, I navigated various contacts within the university to organize a trip to an Action facility. The facility is located in Hunt's Point Bronx in a very industrial area.</p>	

<p class="lead" style="text-align:left; text-indent: 50px;"> Upon arrival, we immediately had a tremendous view of inside the current processing facility.  An enormous tractor moved between two open garage doors moving waste inside and out.  The facility from outside seemed as a large warehouse with an large pile of trash hidden inside.</p>


	<hr>
	<h1>Facility Action</h1>

	<p class="lead" style="text-align:left; text-indent: 50px;"> Once we met with our guides, we were given inside access to an operational sorting facility.  At the beginning of the facility, the area with two open garage doors, waste was brought into the warehouse and prepared for sorting.  The sorting process at this facility is very typical and very simple.  Waste is loaded onto a conveyer belt which passes through workers who sort paper, plastic and metals.  Once sorted, a baling machine combines these materials into large bundles to be sold.</p>
	
		<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/ActionVisit/avisit2.jpg"> 		<br>	

	<p class="lead" style="text-align:left; text-indent: 50px;"> Most of these bales will be loaded into containers and sold overseas.  These items are sold and traded like any other commodity on the market. </p>
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> One of the surprising moments during the trip was the discovery of the baling process and how bales are generated out of everything.  Below is an image of various types of plastics baled together.  Viewing these materials in such a way is an eye-opening experience. </p>	

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/ActionVisit/avisit3.jpg"> <br>
    <br>
    
	<p class="lead" style="text-align:left; text-indent: 50px;"> After viewing an operational facility, we traveled a few blocks to a facility under construction which will entirely change the way waste is sorted. This new facility houses an optical sorting machine which will increase the speed an accuracy with which waste is sorted.</p>	    

	<br>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/ActionVisit/avisit4.jpg"> <br>
    
	<p class="lead" style="text-align:left; text-indent: 50px;"> To begin, trucks are able to drive into the facility to the dumping floor which will allow the truck to dump its load directly in the facility.  From there smaller tractors will move the waste onto a series of conveyer belts in the facility.
</p>
    

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/ActionVisit/avisit5.jpg"> <br>
    
   	<hr>
	<h1>Sophisticatedly Simple</h1>	
	<p class="lead" style="text-align:left; text-indent: 50px;"> The series of conveyer belts execute the first stage of sorting.  From there, the optical sorter takes over.  This device is an infrared camera combined with compressed air to separate plain white paper from colored paper.  This simple step is the foundation of the new facility.  Relying on technology to separate waste will increase speed and ultimately profits. </p>

   	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/ActionVisit/avisit6.jpg">   	<br>	

<p class="lead" style="text-align:left; text-indent: 50px;"> Though the majority of the process will be mechanical, there will still be a section of the conveyer belt which will let humans continue the sorting process.  This will be to primarily remove plastic bags from the stream which will then get suck into the overhead tubes. </p>
	

	    		
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/ActionVisit/avisit7.jpg"><br>


   	<hr>
	<h1>Conclusions</h1>
        
	<p class="lead" style="text-align:left; text-indent: 50px;">Ultimately this trip to Action was informative and eye-opening.  Witnessing first hand how waste is processed and the various steps along the way was an eye-opening experience.  I hope in the future to return to the facility while operational as well as visit other facilities to understand the differences between haulers.    <br>
	<p><a class="btn btn-primary" href="/post7"> Back to top  »</a></p>
 </p>

	
	<hr>
	
	
	
</div>