<div class="container-narrow" style="text-align: left;">
<br>

	<h1 style="text-align: center;">A Guide to Engagement<p class="muted"><small> June 2, 2013</small></p>	</h1>
			<p class="lead" style="text-align:left; text-indent: 50px;"> The Life of Trash has the potential to act as a platform to get communities, citizen scientists and educators involved in understanding the urban waste stream and the surrounding topics.  By engaging these communities, we aim to bring about greater awareness with the hope of improving the current system and providing an outline for a more sustainable system in the future.
	</p>


<p class="lead" style="text-align:left; text-indent: 50px;"> This document serves as an outline and foundation from which people can begin to implement the practices and processes of raising citizen awareness around these topics.</p>	

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/scienceHack/wsfHack.png"> 		<br>	
	<hr>
	
	<h1>Brainstorming</h1>

	<p class="lead" style="text-align:left; text-indent: 50px;"> In order to give life to the Life of Trash project, we began to identify various communities and methods in which people could begin to participate.  Our first main audience we wanted to address are the citizen scientists and identifying various way to incorporate their efforts into the Life of Trash.  Some of these opportunities include crowdsourcing information to fill in maps, ways of validating existing data and determining new methods of collecting data. </p>
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> Another important community to involve in the project would be the academic community at various levels.  Identifying school programs which currently exists was the starting point for this conversation.  With these current efforts, we began to discuss new approaches and ways to further expand trash research and education throughout elementary schools, high schools and higher education. </p>
	
<!--
		<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1431.jpg"> 		<br>	
-->


   	<hr>
	<h1>Research and Development</h1>	
	<p class="lead" style="text-align:left; text-indent: 50px;"> One area in the Life of Trash project which need tremendous work falls into the category of research and development.  These various projects would again help to complete the circle of information and help contribute to better understanding how trash exists and permeates our cities.  </p>
		<p class="lead" style="text-align:left; text-indent: 50px;"> Some of the major areas of research identified surround the development and verification of various maps.  Maps have the ability to visually see relationships between landfills, waste, and economics as well encourage conversations and action around a specific topic.</p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> Our discussions also lead to identifying two types of research, journalistic and technical.  Journalistic research includes encouraging communities to begin contacting the organizations and groups who are responsible for waste.  By looking for first hand sources, we can begin comparing this research to better answer questions.  Technical research involves experimenting and prototyping new tracking methods, websites and online maps. </p>		

<!--
   	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/FreshKills/JPEG/IMG_1684.jpg">   	<br>	
-->


	<hr>

	<h1>Contributors</h1>
        
	<p class="lead" style="text-align:left; text-indent: 50px;"> This outline was created during the World Science Festival Hack Day with contributions from Heather Van Volkinburg, Nicholas Johnson and many others who joined us for some trash talk.  Thank you to all those involved especially the organizers of <a href="http://www.worldsciencefestival.com/events/science_hack_day">World Science Festival Hack Day.</a><br>
	<br>
	<p class="lead" style="text-align:center; text-indent: 0px"> 
	<a href="https://docs.google.com/document/d/108Om-JnE88IJMHbStk2Sg3bqTpMDBR5qxMPzZTIPhug/edit?usp=sharing">View Google Doc</a></p>
	
 </p>
 	<hr>

	<p><a class="btn btn-primary" href="/post8"> Back to top  »</a></p>
	
</div>