<div class="container-narrow" style="text-align: left;">
<br>

	<h1 style="text-align: center;">New York + Trash = ?</h1>	
			<p class="lead" style="text-align:left; text-indent: 50px;"> As many newcomers to New York City have noticed, this city is not shy about its trash.  Each day enormous piles of trash are left roadside for processing.  The piles are so common that people pass them in the street without a thought.</p>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/ladiestrash.png"> 		<br>	
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> Life of Trash attempts to map the path of everyday trash by using cellular technology to relay location data periodically throughout the trash process cycle. This location data is streamed into a live map which allows the user to gather up-to-date information on the current location of their trash. </p>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/freshtrash-01.png"> 		<br>	

	<hr>
	<h1>Initial Research</h1>

	<p class="lead" style="text-align:left; text-indent: 50px;"> After dwelling on these question, I began to search the web for answers to my questions.  It wasn't long before I discovered the landfill "Fresh Kills" which was an astonishing discovery.</p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> 
	<p class="lead" style="text-align:left; text-indent: 50px;"> As many newcomers to New York City have noticed, this city is not shy about its trash.  Each day enormous piles of trash are left roadside for processing.  The piles are so common that people pass them in the street without a thought. </p>	

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/freshkillsmap.png"> <br>
    
	<p class="lead" style="text-align:left; text-indent: 50px;"> Life of Trash attempts to map the path of everyday trash by using cellular technology to relay location data periodically throughout the trash process cycle. This location data is streamed into a live map which allows the user to gather up-to-date information on the current location of their trash. </p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> As many newcomers to New York City have noticed, this city is not shy about its trash.  Each day enormous piles of trash are left roadside for processing.  The piles are so common that people pass them in the street without a thought. </p>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/freshpark.png"> <br>
    
   	<hr>
	<h1>More Specific Questions</h1>	
	<p class="lead" style="text-align:left; text-indent: 50px;"> After dwelling on these question, I began to search the web for answers to my questions.  It wasn't long before I discovered the landfill "Fresh Kills" which was an astonishing discovery. </p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> After dwelling on these question, I began to search the web for answers to my questions.  It wasn't long before I discovered the landfill "Fresh Kills" which was an astonishing discovery.</p>    	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/itpGreen.png">   	<br>	

<p class="lead" style="text-align:left; text-indent: 50px;"> In a world with advanced technology to learn about the far corners of the universe, what do we really know about the waste that we create daily?  Where does it go? </p>
	

	    		
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/nyuGreen.png"><br>

	<p class="lead" style="text-align:left; text-indent: 50px;"> Life of Trash attempts to map the path of everyday trash by using cellular technology to relay location data periodically throughout the trash process cycle. This location data is streamed into a live map which allows the user to gather up-to-date information on the current location of their trash.  </p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> After dwelling on these question, I began to search the web for answers to my questions.  It wasn't long before I discovered the landfill "Fresh Kills" which was an astonishing discovery. </p>
	
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/greenDisk-01.png"> <br>

<p class="lead" style="text-align:left; text-indent: 50px;"> In a world with advanced technology to learn about the far corners of the universe, what do we really know about the waste that we create daily?  Where does it go? </p>
	

    	
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/actImage.png"><br>

   	<hr>
	<h1>Inspiration</h1>

<p class="lead" style="text-align:left; text-indent: 50px;">Life of Trash attempts to map the path of everyday trash by using cellular technology to relay location data periodically throughout the trash process cycle. This location data is streamed into a live map which allows the user to gather up-to-date information on the current location of their trash. </p>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post/mitDiagram.png">	

   	<hr>
	<h1>Conclusions</h1>
        
	<p class="lead" style="text-align:left; text-indent: 50px;">Life of Trash attempts to map the path of everyday trash by using cellular technology to relay location data periodically throughout the trash process cycle. This location data is streamed into a live map which allows the user to gather up-to-date information on the current location of their trash.  </p>
	<p class="lead" style="text-align:left; text-indent: 50px;"> In a world with advanced technology to learn about the far corners of the universe, what do we really know about the waste that we create daily?  Where does it go? </p>
	<hr>
	
</div>