<div class="container-narrow" style="text-align: left;">
<br>

	<h1 style="text-align: center;">Successful first launch<p class="muted"><small> Dec 21, 2012</small></p>	</h1>
			<p class="lead" style="text-align:left; text-indent: 50px;"> It was a sleepless night as the trash was sitting outside waiting to be collected.  The first phone had been fully charged, placed into protective packaging and carefully hidden in the recycling to avoid detection by any late night visitors.  This proved to be the proper plan.</p>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/result.png"> 		<br>	
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> The phone sat quietly throughout the night until approximately 7:01am when the trash was collected.  As expected, the phone began to send coordinate data to the website while in motion throughout the city providing an amazing map of its progression.</p>

<p class="lead" style="text-align:left; text-indent: 50px;"> For the next ? hours, the phone traveled throughout Williamsburg presumably in the bed of the Department of Sanitation trash truck.  This was seen through the various back and forth pattern seen as the truck traveled up and down streets collecting trash.</p>	

<p class="lead" style="text-align:left; text-indent: 50px;"> This initial data collection was the first success and hurdle to be overcome.  There were many discussions as to whether to phone would be destroyed or unable to send information while in the back of a truck.  As seen with this first experiment, reception and destruction while in the bed of a truck was not a problem.</p>	

<p class="lead" style="text-align:left; text-indent: 50px;"> As the phone continued throughout the morning, there were two instances in which data was not collected.  Immediately it was assumed that the phone had finally reached the end of its life being destroyed and lost forever.  This however was not the case.  The phone on two separate occasions, failed to send information to the website for almost an hour per occasion.  Then, suddenly, the phone reappeared and sent its current location.</p>

<p class="lead" style="text-align:left; text-indent: 50px;"> This discontinuity in reception suggest the phone had enter an area without reception or was inhibited for some reason.  Fortunately, the phone moved on.</p>	

<p class="lead" style="text-align:left; text-indent: 50px;"> Finally, at approximately 1:16pm, after six hours of traveling, the phone sent its final coordinate.  Following this information, no other communication was heard from the phone suggesting a final destruction of the phone.  The quest to discover where the phone had ended then began.</p>


	<hr>
	<h1>Final Coordinates</h1>

	<p class="lead" style="text-align:left; text-indent: 50px;"> After several days had passed, it was decided that nothing more was going to be received from the phone.  It was then that I began my journey to document exactly where the phone had traveled.  From the map that was created by the real time updating of the phone, one could see that the last location of the phone was somewhere near the John Jay Byrne bridge on the border between northern Brooklyn and Queens.  </p>
	
		<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/river.png"> 		<br>	

	<p class="lead" style="text-align:left; text-indent: 50px;"> Upon arriving at the John Jay Byrne bridge, it was obvious that this part of the city is the industrial area of the city which facilitates many of the services provided by the city.  </p>
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> As I passed over the bridge and arrived at the last coordinate received, it was clear that discovering the phone again would be an impossibility as well as clearly identifying its path during the final hour of its existence.  The final coordinate of the phone rested in a seemingly abandoned lot surrounded by a metallic fence and razor wire preventing anyone from entering. </p>	

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/fence.png"> <br>
    <br>
    
	<p class="lead" style="text-align:left; text-indent: 50px;"> By finding the gated entrance to the lot, I was able to take a few photos through the space in the gate to try and provide some type of understanding as to what lay inside.</p>	    

	<br>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/inside.png"> <br>
    
	<p class="lead" style="text-align:left; text-indent: 50px;"> Unfortunately, no other information as to where the phone finally rested was able to be discovered.  At this point, I can only speculate to say that perhaps the phone was disregarded into the dumpster that exists in the center of the abandoned lot.  Based on the final coordinate, this is the only visual evidence that can be provided. 
</p>
    

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/finalwide.png"> <br>
    



    
   	<hr>
	<h1>Truck Tracking</h1>	
	<p class="lead" style="text-align:left; text-indent: 50px;"> After attempting to identify the final resting place of the phone, I began to backtrack other locations the phone had been signaling.  During this journey, I was meet with two dump trucks passing down a one way street.  These trucks were clearly labeled as Department of Sanitation trucks, so I decided to follow their current journey. </p>

   	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/following.png">   	<br>	

<p class="lead" style="text-align:left; text-indent: 50px;"> After a few minutes of travel, the trucks arrived at a secluded and unmarked street in the same industrial area the phone had visited during its final hour.  Following them down this street, we arrived at a dumping station which restricted access to private personnel.  A line of trucks had accumulated at this entrance which seemed to signal some type of weighing station. </p>
	

	    		
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/entrance.png"><br>

	<p class="lead" style="text-align:left; text-indent: 50px;">Later after physically visiting these site, I plotted the same coordinates in Google Earth to try and get another view on these locations.  Indeed, Google Earth had confirmed everything I had seen and provided more detail to understand this drop-off station.  As seen in these images from Google Earth, there is an area which allows trucks to dump their trash, and then move the trash onto a barge which is adjacent.
 </p>
 
 	<p class="lead" style="text-align:left; text-indent: 50px;">Though it is difficult to tell, there was a coordinate received from the phone that corresponded to this location suggested that the phone was deposited here before arriving in its final location. </p>
	
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/trashLocation.png"> <br>

	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/trashPile.png"><br>
    
   	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/trashMoving.png">	    


    	


   	<hr>
	<h1>Other Locations</h1>

<p class="lead" style="text-align:left; text-indent: 50px;">Backtracking even further, I arrived at a location which also seemed of significance.  While arriving at this location, which was provided by the phone, there was a recycling facility named Allocco Recycling.  Given the expected life of the phone, this location made perfect sense.  Adjacent to this site, was another structure labeled Department of Sanitation.  </p>
<br>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/deptSan.png">	<br>

<p class="lead" style="text-align:left; text-indent: 50px;">Upon arriving at these locations, I was prohibited from gaining any significant access to these location, though they seemed to be extremely active with workers and trucks passing in and out.</p>
<br>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/places.png"><br>

<p class="lead" style="text-align:left; text-indent: 50px;">Overall, these two buildings really did not strike me as too interesting except for one small detail.  On the roof of the Allocco plant was a Christian statue of Mary.  After describing this location to an italian friend, she exclaimed that the place was clearly italian and even translated the english word gullible into the italian word, allocco.</p> 
<br>
	<img style="
    display: block;
    margin-left: auto;
    margin-right: auto; " src="/img/post5/allocco.png">	<br>

<p class="lead" style="text-align:left; text-indent: 50px;">Throughout my research of trash collection in New York city,  I had always heard tales and rumors of the italian mafia heavily influencing this industry in New York.  Finding this location clearly does not provide evidence of mafia involvement in trash collection but does add to the ongoing discussion of their involvement. 
</p>
    

   	<hr>
	<h1>Conclusions</h1>
        
	<p class="lead" style="text-align:left; text-indent: 50px;"> Overall the first phone launch was incredibly successful.  Though its total travel time was a little over 6 hours, visualizing its path through the city has been extremely informative.  Technologically speaking, the system in place worked perfectly and captured trash activity over the course of an after noon.  Moving forward, the plan is to create version two of the application and backend structure to allow the deployment of multiple phones simultaneously.  Viewing the path of several pieces of trash should allow an even more profound understanding of where trash goes once its been collected.   <br>
	<p><a class="btn btn-primary" href="/post5"> Back to top  »</a></p>
 </p>

	
	<hr>
	
	
	
</div>