<div class="container-narrow" style="text-align: left;">
<br>

	<h1 style="text-align: center;">Trash in Tubes<p class="muted"><small> July 18, 2013</small></p>	</h1>


	<p class="lead" style="text-align:left; text-indent: 50px;"> Automated Vacuum Collection(AVC) is a system of waste collection that was developed on Roosevelt Island in 1976.  This AVC system consists of two tubes, east tube and west tube, that run underground throughout the island.
	</p>
	
	<img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="http://farm4.staticflickr.com/3823/9298986617_9950ec8c64.jpg" width="600" height="333" alt="AVC Waste System">

	<p class="lead" style="text-align:left; text-indent: 50px;"> These two tubes terminate at one waste station which houses not only the bins which contain the waste collected, but also a half dozen vacuum generators which provide enough suction to pull almost anything to the transfer station. 
	</p>
	
	<img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="http://farm4.staticflickr.com/3688/9298990113_2f7a4791c3.jpg" width="600" height="333" alt="AVC Waste System">

	<p class="lead" style="text-align:left; text-indent: 50px;"> The tubes travel above ground one they enter the station and dump the waste into large red bins which use centrifugal force to separate the air suction from the waste.  
	</p>
	
	<img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="http://farm3.staticflickr.com/2820/9298988173_6bd12db5b6.jpg" width="600" height="333" alt="AVC Waste System">
	
	<img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="http://farm6.staticflickr.com/5495/9298993285_74d26e20df.jpg" width="444" height="500" alt="AVC Waste System">
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> Located near each of the large red bins are small port holes which allow operators to see the waste entering into the storage container. </p>
	
	<img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="http://farm3.staticflickr.com/2871/9301777046_155e16b80a.jpg" width="600" height="333" alt="AVC Waste System">
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> From the red bins, waste is placed directly into storage containers which can then be loaded onto waste truck an hauled off the island to the nearby transfer station where it joins the rest of the cities waste.  This systems eliminates the need for trucks to travel through the island reducing noise, congestion and truck emissions. </p>
	
	<img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="http://farm4.staticflickr.com/3790/9301771212_eb9caebbf7.jpg" width="600" height="333" alt="AVC Waste System">
	
<p class="lead" style="text-align:left; text-indent: 50px;"> There are approximately 10 containers that are used on a regular basis as collection with the tubes happens twice a day.</p>	

	<br>
	<h1>From the building</h1>

	<p class="lead" style="text-align:left; text-indent: 50px;"> One the other end of this system exists the building valves.  These values are controlled from the main waste station but allow the building to collect waste and then activate the AVC in order to reduce un-needed collection.  </p>
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> Using hydraulic power, a large metal plate is shifted from underneath the tube allowing waste to fall into the suction stream. </p>

	<img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="http://farm8.staticflickr.com/7299/9301769110_ab26c9d007.jpg" width="444" height="500" alt="AVC Waste System">
	
	<p class="lead" style="text-align:left; text-indent: 50px;"> Here is a general overview of the entire system.</p>

	<a href="/img/trashtubes/system_diagram_high.jpg"><img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="/img/trashtubes/system_diagram_high.jpg" width="600" alt="AVC Waste System"></a>
	
   	<hr>
	<h1>Imperfections</h1>	
	<p class="lead" style="text-align:left; text-indent: 50px;"> Of course no system is ever perfect.  When asked about the greatest challenges of the AVC system, the two biggest challenges were clogging, as a result of people placing items that should not be placed into the AVC, and age.  This system was built in 1976 and though still performing on a day to day basis, old equipment needs a great amount of maintenance.  </p>

	<img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;" src="http://farm8.staticflickr.com/7309/9298994983_7f979896ca.jpg" width="600" height="333" alt="AVC Waste System">

	<hr>
        
	<p class="lead" style="text-align:left; text-indent: 50px;"> Visit the <a href="http://www.fasttrash.org">Fast Trash Exhibit</a> to learn more about the Roosevelt Island AVC.<br> </p>
	<br>

	<p><a class="btn btn-primary" href="/trashtubes"> Back to top  »</a></p>
	
</div>