body {
	padding-top: 20px;
	padding-bottom: 40px;
}
.row {
	text-align: center;
}

.header{
	padding: 20px 0 60px;
	text-align: center;
}

.large-title{
	font-weight: bold;
	font-size: 86px;
	line-height: 80px;
}
#iconlist{
height: 400px;
}

.logoicon{
float: left;
text-align: center;
font-weight: bold;
font-size:16px;
cursor: pointer;
}

.logoicon:hover img{
opacity: 0.3;
}
.logoicon img{
margin-bottom: 20px;
opacity: 1;
}
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.footer {
	padding-top: 20px;
	height: 40px;
	text-align: center;
}
.featurette-divider {
	margin: 80px 0;
}
.featurette {
	display: block;
	padding-top: 0px;
	overflow: hidden;
}
.featureette-image{
	display: block;
	float: right;
	margin-top: 0px;
	vertical-align: middle;
}
.featurette-image.pull-right{
	margin-left: 40px;


}
.featurette-heading {
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}
/*
@media (max-width: 979px) {
	.featurette { 
		height: auto;
		padding: 0;
	}
	.featurette-image.pull-left,
	.featurette-image.pull-right{
		display: block;
		float: none;
		max-width: 40%;
		margin: 0 auto 20px;
	}
}
*/
