<div class="container-marketing">
	<div class="jumbotron">
		<h1>Citizen Research Projects</h1>
		<p class="lead">More citizens recycle than vote. The desire for participation is clear. The Trash Lab intends to offer a platform for which people can discuss and debate ideas and actively engage in research projects to better answer those questions.</p>
	</div>
	<hr>
</div>

<div class="container-narrow">
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Landfill Mapping</h4>
      <p>What data exists for us to have a better understanding of where landfills exist?  Is there a landfill near you?</p>

      <h4>Landfill Sensor Kit</h4>
      <p>Citizens want to know.  This kit will give them the tools to understand what is really going on near their landfill.</p>

      <h4>Wifi Enabled Trash Cans</h4>
      <p>This trash can will automatically calculate the amount of waste your home throws out each day.  That data can then answer some interesting questions. </p>
    </div>

    <div class="span6">
      <h4>Online and Offline Discussions</h4>
      <p>Both public and private discussions can help generate better understanding and help focus action to improve our waste system.</p>

      <h4>Journalism</h4>
      <p>Waste research has been siloed!  Can we begin to bring our collective writings together and see the full playing field?</p>

      <h4>Data Analysis</h4>
      <p>Big data is everywhere, even in trash.  Lets us the data that is available to us to view the world of waste differently.</p>
    </div>
  </div>
<br>
<br>
<p class="pull-left"><a href="/lab">Back to Trash Lab</a></p>
</div>
