<div class="container-marketing">
	<div class="jumbotron">
		<h1>Trash Education</h1>
		<p class="lead">Any step towards improving our waste footprint will require education.  Education rests in many forms and the Trash Lab intends on exploring each one of these.</p>
	</div>
	<hr>
</div>

<div class="container-narrow">
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>City Waste Tours</h4>
      <p>Visiting real places gives people a firsthand understanding of waste management.  NYC is filled with amazing places to visit.</p>

      <h4>Classroom Education</h4>
      <p>Both at the university level and elementary level, educational courses are a crucial step towards improving our waste system.</p>

    </div>

    <div class="span6">
      <h4>DSNY Partnerships</h4>
      <p>The DSNY is always in need of expanding and promoting it's projects.  The Trash Lab can help facility and implement these programs.</p>

      <h4>Workshops</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    </div>
  </div>
<br>
<br>
  <p class="pull-left"><a href="/lab">Back to Trash Lab</a></p>
</div>
<br>
