<div class="container-marketing">
	<div class="jumbotron">
		<h1>How it works</h1>
		<p class="lead">Give us money and we'll help you understand the <em>Life of Trash</em></p>
	</div>
	<hr>
</div>
<div class="container-narrow">
	<h3>Funding</h3>
		<p class="lead" style="text-align:left; text-indent: 0px;">Research Grants</p>
		<p class="lead" style="text-align:left; text-indent: 0px;">Educational Grants</p>
		<p class="lead" style="text-align:left; text-indent: 0px;">Partnerships - <small>Department of Sanitation, Freshkills Park, IBM </small></p>

<br>
	<h3>Timeline and Needs</h3>
		<p class="lead" style="text-align:left; text-indent: 0px;">1 Year</p>
		<p class="lead" style="text-align:left; text-indent: 0px;">Facility</p>
		<p class="lead" style="text-align:left; text-indent: 0px;">Personnel</p>
		<p class="lead" style="text-align:left; text-indent: 0px;">Equipment Budget</p>

<br>
	<h3>Measurables</h3>
		<p class="lead" style="text-align:left; text-indent: 0px;">Number of active participants</p>
		<p class="lead" style="text-align:left; text-indent: 0px;">Citizen waste tracking report</p>
		<p class="lead" style="text-align:left; text-indent: 0px;">Waste Management Inc</p>
		<p class="lead" style="text-align:left; text-indent: 0px;">IBM</p>

<p class="pull-left"><a href="/lab">Back to Trash Lab</a></p>
</div>