
<div class="container-narrow">


	<div class="jumbotron">
		<h1>Engage Trash Research </h1>
		<p class="lead">Join our citizen researchers to better understand the life of trash.</p>
<!-- 		<a class="btn btn-large btn-primary" href="/LifeofTrash.apk"> Download Life of Trash</a> -->
		<a class="btn btn-large btn-primary" href="/LifeofTrash.apk"> Suggest Research Project</a>
	</div>
	<hr>


</div>

<div class="container marketing">		
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/appheading.png">
		<h2 class="featurette-heading">Landfill Map
			<span class="muted"> Coming Soon...</span>
		</h2>
		<p class="lead">By downloading and installing the Life of Trash app, users can successfully watch online as their trash moves through the country.  The app is currently available on the Android App Store and a similar version will soon be available via the Apple App Store. </p>	<p><a class="btn btn-primary" href="/engage"> Read More  »</a></p>

	</div>
	<hr>
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/trashheading.png">
		<h2 class="featurette-heading">Trash Tracking
			<span class="muted"> </span>
		</h2>
		<p class="lead">After successfully downloading the Life of Trash app, simply launch the app and place the phone in the trash or recycling prior to pickup.  Be sure to charge the phone fully and place the phone in a plastic bag to protect against any liquids which might damage the phone.</p><p><a class="btn btn-primary" href="/engage"> Read More  »</a></p>

	</div>
	<hr>
	<div class="featurette">
		<img class="featurette-image pull-right" src="/img/trackheading.png">
		<h2 class="featurette-heading">Balloon Photography
			<span class="muted">Coming soon...</span>
		</h2>
		<p class="lead">Once the phone has been placed in the trash, visit <a href="/map">Life of Trash</a> website to begin tracking where your trash is traveling.</p><p><a class="btn btn-primary" href="/engage"> Read More  »</a></p>

	</div>
</div>
<!--

<div class="container-narrow">
	<div class="jumbotron">
		<h1>Engage in reducing trash! </h1>
		<p class="lead">This is a list of research project dedicated to better understanding the life of trash.  All projects are available to the public and we need your help to continue this research</p>
		<a class="btn btn-primary" href="/engage"> Suggest Research Project  »</a>
	</div>
	<hr>
	
	
	<div class="media">
		<a class="pull-left" href="http://www.nyc.gov/html/dsny/html/home/home.shtml">
			<img class="media-object" src="/img/dslogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/maplive">Track Your Trash</a></h4>
	
				<div class="media">
				  The New York City Department of Sanitation contains large amounts of information about how to properly dispose of waste.  Navigating through these resources is the first step to better understand the trash system in New York City and how to actively participate in that system.    
				</div>
				
		</div>	
	<br>		
	</div>
	
	
	
	<div class="media">
		<a class="pull-left" href="http://gis.nyc.gov/gisapp/sn/sanitation.jsp">
			<img class="media-object" src="/img/nycgovlogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="/landfill">Landfill Map</a></h4>
	
				<div class="media">
				  The New York City Department of Sanitation and NYC.gov have created a simply way for residents to view their trash collection and recycling schedule.  Simply enter your building number, street name and borough to get your trash collection schedule.  
				</div>
				
		</div>			
	</div>
	<br>
	
	
	
	
	<div class="media">
		<a class="pull-left" href="http://www.nyc.gov/html/planyc2030/html/home/home.shtml">
			<img class="media-object" src="/img/plannyclogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://www.nyc.gov/html/planyc2030/html/home/home.shtml">Landfill Aerial Photography</a></h4>

				<div class="media">
				   Released in 2007, PlaNYC was an unprecedented effort undertaken by Mayor Bloomberg to prepare the city for one million more residents, strengthen our economy, combat climate change, and enhance the quality of life for all New Yorkers. The Plan brought together over 25 City agencies to work toward the vision of a greener, greater New York. Since then, we have made significant progress towards our long-term goals. 			
				</div>
		</div>			
	</div>		
	<br>
	
	
	
	<div class="media">
		<a class="pull-left" href="http://www.nycgovparks.org/park-features/freshkills-park">
			<img class="media-object" src="/img/parkslogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://www.nycgovparks.org/park-features/freshkills-park">Zero Waste Lifestyle</a></h4>
	
				<div class="media">
				 For over 50 years, Fresh Kills Landfill was the primary landfill for the city of New York and grew to be over three times the size of Central Park.  In 2009 the landfill was closed and is now the site of a mulit-phase 30 year plan to transform the site into a public park.    			
				</div>
				
		</div>			
	</div>
	<br>

	<div class="media">
		<a class="pull-left" href="http://senseable.mit.edu/trashtrack/">
			<img class="media-object" src="/img/mitlogo-01.png">
		</a>
		<div class="media-body">
			<h4 class="media-heading"><a href="http://senseable.mit.edu/trashtrack/">Trash Diary</a></h4>

				<div class="media">
				 Elaborated by the SENSEable City Lab and inspired by the NYC Green Initiative, TrashTrack focuses on how pervasive technologies can expose the challenges of waste management and sustainability. Can these same pervasive technologies make 100% recycling a reality?			
				</div>
				
		</div>			
	</div>
	<br>	
		

</div>
-->